# {{NAME}} プラグイン

{{DESC}}

## 構成

| ファイル | 役割 |
| :--- | :--- |
| `{{MANIFEST}}` | プラグインマニフェスト |
{{EXTRA_ROWS}}

## 必要条件

{{REQUIREMENTS}}

## インストール

```bash
agy plugin install https://github.com/{{OWNER}}/{{REPO}}/{{NAME}}
```

## ライセンス・帰属

{{LICENSE}}
